@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Josefin+Slab:wght@300;500&family=Kurale&display=swap');

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

h1 {
  font-family: 'Josefin Slab', serif;
}
.container .form-floating:focus-within {
  z-index: 2;
}

.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.middle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: -1px;
}

.bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 2%;
}

/* .form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

/* .form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */
